<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.effort.server.mapper.TaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.effort.server.pojo.Task">
        <result column="project_id" property="projectId" />
        <result column="user_id" property="userId" />
        <result column="task_name" property="taskName" />
        <result column="during_time" property="duringTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        project_id, user_id, task_name, during_time
    </sql>

    <delete id="deleteTask">
        delete * from t_task where project_id = #{projectId} and user_id = #{userId};
    </delete>

    <select id="selectTask" resultType="com.effort.server.pojo.Task">
        select * from t_task where project_id = #{projectId} and user_id = #{userId};
    </select>

</mapper>
